mlst/ncbi-blast-2.9.0+
abricate/abricate
busco/busco
fastqc/fastqc
flye/flye
guppy/guppy
kmerfinder/kmerfinder
kraken/kraken
lre-finder/lre-finder
mlst/mlst
minionqc/minionqc
pocp/pocp
prokka/prokka
quast/quast
racon/racon
spades/spades
unicycler/unicycler
